<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find proyecto_gazebo)/worlds/default.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />

<include file="$(find nexus_4wd_mecanum_description)/launch/nexus_4wd_mecanum_description.launch" />

  <!-- Spawn the robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model nexus_4wd_mecanum -param robot_description -x 0 -y 0 -z 0.5" />

  <!-- Camara -->
  <node name="spawn_camera" pkg="gazebo_ros" type="spawn_model" args="-file $(find camera_description)/urdf/camera.urdf -urdf -x 0 -y 0 -z 4 -model CPRcamera" />

  <!-- Hacemos el spawn de los difrentes nodos de nuestro proyecto-->

  <!-- PERCEPCION-->
  <!-- robotPosition.py -->
  <node name="robotPosition" pkg="percepcion" type="robotPosition.py" />

  <!-- mapeado.py -->
  <node name="mapper" pkg="percepcion" type="mapeado.py" />

  <!-- OMNIROBOT_CONTROL-->
  <!-- Control.py -->
  <node name="control_omnirobot" pkg="omnirobot_control" type="Control.py" />

  <!-- dosificador.py -->
  <node name="dosificador" pkg="omnirobot_control" type="dosificador.py" />

  <!-- PLANIFICADOR -->
  <!-- planificador.py -->
  <node name="planificador" pkg="planificador" type="planificador.py" />


</launch>