<launch>
  <param name="robot_description" command="cat $(find omni_description)/urdf/description.urdf"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find omnirobot_control)/config/omnirobot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/omniRobot" args="left_joint_velocity_controller back_joint_velocity_controller right_joint_velocity_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/omniRobot/joint_states" />
  </node>
	
</launch>
