  <?xml version="1.0"?>
  <model>
    <name>OmniRobot</name>
    <version>1.0</version>
    <sdf>urdf/description.urdf</sdf>
    <author>
      <name>Alumnos_GIERM</name>
      <email>name@email.address</email>
    </author>
    <description>
      Robot Omnidireccional de 3 ruedas
    </description>
  </model>
